@media (max-width: 1400px) {
    h1 {
        font-size: 64px;
        line-height: 72px;
    }

    p {
        padding-right: 40px;
    }
}

@media (max-width: 1000px) {
    .content__runners {
        display: none;
    }
}


@media (max-width: 800px) {
    .container {
        padding: 0 24px;
    }

    .content__runners {
        display: none;
    }

    .content {
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }

    .wrapper:before {
        width: 100%;
        animation: none;
        -webkit-animation: none;
        top: 0;
        bottom: unset;
        height: 100%;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}

    .wrapper:after {
        width: 0%;
        animation: none;
        -webkit-animation: none;
    }

    .gradient-canvas {
        width: 100%;
        animation: none;
        -webkit-animation: none;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    .content__copy {
        animation: none;
        -webkit-animation: none;
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .social-top {
        background: rgba(255, 255, 255, 0.1)
    }

    .social-top a {
        color: black
    }

    .phone {
        height: auto;
        max-height: unset;
        margin-top: 40px;
        width: 100%;
        max-width: 440px;
    }

    .content__demo {
        position: relative;
        margin: 0 -40px;
        padding: 0 24px 40px;
        left: 0;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        width: 100vw;
        display: block
    }

    .content__demo:before {
        background: linear-gradient(144.79deg, #2B2B2B 0%, #111111 100%);
        content: '';
        top: 160px;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }

    .content__copy {
        text-align: center;
    }

    h1 {
        font-size: 48px;
        line-height: 56px;
        margin-top: 24px;
    }

    p {
        margin-top: 24px;
        padding-right: 0;
        max-width: 100%;
    }

    .button {
        margin-top: 24px;
        width: 100%;
        justify-content: center;
    }

    .break-line--heading {
        display: inline;
    }

    .content__demo,
    .content__copy {
        justify-content: center;
    }

    a.logo-top {
        color: black;
        animation: none;
        -webkit-animation: none;
    }

    .hero,
    .more-info,
    footer {
        width: 100%
    }


    .content__demo .more-info,
    .content__demo footer {
        display: block;
        position: relative;
    }

    .content__demo .more-info h2,
    .content__demo .more-info p,
    .content__demo footer p {
        color: rgba(255, 255, 255, 0.75)
    }

    .content__demo .more-info p,
    .content__demo footer p {
        color: rgba(255, 255, 255, 0.5)
    }

    footer a {
        color: rgba(255, 255, 255, 0.75);
    }

    .content__demo footer {
        padding-bottom: 0;
    }

    .content__copy .more-info,
    .content__copy footer {
        display: none;
    }

    .more-info__tile {
        background: rgba(255, 255, 255, 0.05)
    }
}

@media (min-height: 1000px) {
    .content__demo {
        top: 50%;
        height: 890px;
        transform: translate3D(-50%, -50%, 0);
        -webkit-transform: translate3D(-50%, -50%, 0);
        -moz-transform: translate3D(-50%, -50%, 0);
        -ms-transform: translate3D(-50%, -50%, 0);
        -o-transform: translate3D(-50%, -50%, 0);
    }

    .phone {
        max-height: 890px;
    }
}

@media (max-height: 900px) {
    .content__demo {
        top: 80px;
    }

    .phone {
        max-height: 890px;
    }
}